/*base on [https://github.com/zhangxinxu/quickLayout*/
/*css重置部分开始*/
/*html{height: 100%;} */
/*以上设置后 body可以设置height100%*/
/*14.5.21 增加右边方向阅读习惯的类别 .tfr*/
/*增加shadow*/
/*增加隐藏文字*/
/*增加placeholder文字颜色*/
body{
    background:white;
    font:12px/1.5 'Lucida Grande', Verdana, Arial, Sans-Serif;
    overflow: auto;
}
input,textarea,select{
    font:12px/1.5 'Lucida Grande', Verdana, Arial, Sans-Serif;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form{
    margin:0;
}
h4,h5,h6{
    font-size:1em;
}
ul,ol,li{
    padding-left:0; 
    list-style-type:none;
}
a{ color:#333333; text-decoration:none;}
a:hover{ color:#2b7baa; text-decoration:underline;}
/*image with no-border*/
a img{border:0;}
img{border:0;}
/*css重置部分结束*/

/*公共样式部分开始*/
/* display */
.dn{display:none;}
.di{display:inline;}
.db{display:block;}
.dib{display:inline-block;} 
/* percent width value */
.pct10{width:10%;}
.pct15{width:15%;}
.pct20{width:20%;}
.pct25{width:25%;}
.pct30{width:30%;}
.pct33{width:33.3%;}
.pct40{width:40%;}
.pct50{width:50%;}
.pct60{width:60%;}
.pct66{width:66.6%;}
.pct70{width:70%;}
.pct75{width:75%;}
.pct80{width:80%;}
.pct90{width:90%;}
.pct100{width:100%;}
/* line-height */
.lhp100{line-height:100%;}
.lhp150{line-height:150%;}
.lhp200{line-height:200%;}
/* margin */
.m0{margin:0;}
.mt0{margin-top: 0 !important;}
.mr0{margin-right: 0 !important;}
.mb0{margin-bottom: 0 !important;}
.ml0{margin-left: 0 !important;}
/* padding */
.p0{padding:0;}
.pt0{padding-top: 0;}
.pr0{padding-right: 0;}
.pb0{padding-bottom: 0;}
.pl0{padding-left: 0;}
.p10{padding: 10px;}
.p20{padding: 20px;}
.p30{padding: 30px;}
/*border*/
.b1s{border-width: 1px;border-style: solid;}
.b2s{border-width: 2px;border-style: solid;}
.bl0{border-left: 0 !important;}
.br0{border-right: 0 !important;}
.brs0{border-radius: 0 !important;}
/* font-size */
.f0{font-size:0;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f24{font-size:24px;}
/* font-family */
.fa{font-family:Arial;}
.fs{font-family: Simsun;}
.fm{font-family:'Microsoft Yahei';}
/* font-style */
.n{font-weight:normal; font-style:normal;}
.b{font-weight:bold;}
.i{font-style:italic;}
/* text-align */
.tac{text-align:center;}
.tar{text-align:right;}
.tal{text-align:left;}
.taj{text-align:justify;}
/* text-decoration */
.tdu{text-decoration:underline;}
.tdn,.tdn:hover{text-decoration:none;}
/* vertical-align */
.vm{vertical-align:middle;}
.vtb{vertical-align:text-bottom;}
.vb{vertical-align:bottom;}
.vt{vertical-align:top;}
.vn{vertical-align:-2px;}
/* color */
.c0{color: #000;}
.cf{color: #fff;}
/* background color */
.bg0{background-color: #000;}
.bgf{background-color: #fff;}

/* float */
.fl{float:left;}
.fr{float:right;}
/* clear */
.cl{clear:both;}
/* position */
.rel{position:relative;}
.abs{position:absolute;}
/*position values*/
.t0{top: 0;}
.r0{right: 0;}
.b0{bottom: 0;}
.l0{left: 0;}
/*z-index*/
.zi1{z-index:1;}
/* cursor */
.cp{cursor:pointer;}
/* overflow */
.ovh{overflow:hidden;}
.ova{overflow:auto;}
/* zoom */
.z{*zoom:1;}

/*块状元素居中*/
.auto{margin: 0 auto;}
/* 清除浮 动*/
.fix{*zoom:1;}
.fix:after{display:table; content:''; clear:both;}
/*单号文字溢出虚点表示*/
.ell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
/*隐藏文字*/
.ti999{
	text-indent: -999em;
	overflow: hidden;
}
/* 大小不定元素垂直居中 */
.dib_vm{display:inline-block; width:0; height:100%; vertical-align:middle;}
/*公共样式部分结束*/
/*右边方向阅读习惯的类别*/
.tfr{
    direction:rtl;unicode-bidi: bidi-override;
}
.shadow{
    /*width: 100%;*/
    /*height: 100%;*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);   
}
/*隐藏文字*/
.hide-text{
     white-space: nowrap;
     text-indent: 100%;
     overflow: hidden;
 }
 /*placeholder文字颜色改变*/
 /*WebKit browsers Mozilla Firefox 4 to 18  Mozilla Firefox 19+ Internet Explorer 10+*/
 /*

    ::-webkit-input-placeholder { 
    color:    #34466e;
    }
    :-moz-placeholder { 
        color:    #34466e;
    }
    ::-moz-placeholder {
        color:    #34466e;
    }
    :-ms-input-placeholder { 
        color:    #34466e;
    }
*/
/*半透明背景色*/
/*ie情况下 子元素要增加relative*/
/*
.trans{
    background-color: #277eff;
    filter: alpha(opacity=34);
    background: rgba(39, 126, 255, 0.34);
}
*/